pydantic
httpx
fastapi
agate
arrow
datascience
dill
fiona
jsonify
keras
matplotlib
nltk
numpy
pandas
psycopg2-binary
requests
scikit-learn
scipy
scrapy
seaborn
six
spacy
squarify
sympy
tabulate
tensorflow
textblob
torch
torchvision
urllib3